body {
  background-image: url("../images/Crystal_Cove.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
#title {
    background-color: #660300;
    color: white;
    padding: 1rem;
    font-size: 5em;
    border-radius: .25em;
}
#instruction-block {
    color:#FEFFFF;
    background-color:#9E0706; 
    padding: 1rem;
    opacity: 0.75;
    margin:.5rem;
    border-radius: .5em;
    
}
#instruction-block:hover {
    opacity:.99;
}
#computer-number {
    border-radius: .5em;
    background-color: #0475f5;
    color:#FEFFFF;
    padding: 1rem;
    height: 80px;
}
#userUpdates {
    border-radius: .5em;
    background-color: #0672ff;
    color:#FEFFFF;
    padding: 1rem;
    height: 80px;
}
.win-loss-score {
    border-radius: .5em;
    color:#FEFFFF;
    background-color: #020745;
    padding: 1rem;
    height: 80px;
}
#score-info {
    border-radius: .5em;
    color:#FEFFFF;
    background-color: #020745;
    padding: 1rem;
    
}
#current-score {
    color:#FEFFFF;
    background-color:#0672ff;
    padding: 1rem;
    border-radius: .5em;
    
}
.crystals {
    margin:.5rem;
}
.crystals:hover {
    padding: 1em;
}