body {
  background-image: url("../images/Crystal_Cove.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}
#title {
    background-color: #FF140D;
    color: white;
    padding: 1rem;
    opacity: 0.8;
    
}
#instruction-block {
    color:#FEFFFF;
    background-color:#9E0706; 
    padding: 1rem;
    opacity: 0.6;
    margin:.5rem;

}
#instruction-block:hover {
    opacity:.96;
}
#computer-number {
    background-color: #061CFF;
    color:#FEFFFF;
    padding: 1rem;
    height: 80px;
}
#userUpdates {
    background-color: #061CFF;
    color:#FEFFFF;
    padding: 1rem;
    height: 80px;
}
.win-loss-score {
    color:#FEFFFF;
    background-color: #020745;
    padding: 1rem;
    height: 80px;
}
#score-info {
    color:#FEFFFF;
    background-color: #020745;
    padding: 1rem;

}
#current-score {
    color:#FEFFFF;
    background-color:#061CFF;
    padding: 1rem;
}
.crystals {
    margin:.5rem;
    opacity:.95;
}
.crystals:hover {
    opacity: 1;
}